<div class="col-xs-3">
  <div class="panel margin-top-bottom-add padding-add">
<form class="form-upload" enctype="multipart/form-data" method="post" action="/">
    <input id="file" name="newfile" class="input-upload" type="file" onchange="this.form.submit()">
    <label class="small" for="file">Загрузить файл</label>
</form>
  </div>
  <div class="list-group margin-top-bottom-add">
    {% for tag in tags %}
  <a href="/tag/{{tag.getId}}" class="list-group-item clearfix"><span class="pull-left">{{tag.getName}}</span><span class="badge">{{tag.getCount}}</span></a>
    {% endfor %}
  </div>
</div>
